@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: dadd;
  src: url('/fonts/dadd.ttf') format('truetype');
  font-size: 16px;
  font-weight: 500;
}

@font-face {
  font-family: sehwa;
  src: url('/fonts/sehwa.ttf') format('truetype');
  font-size: 16px;
  font-weight: 500;
}

@layer components {
  .link-active {
    @apply rounded-lg bg-primary !important;
  }

  .avatar img {
    @apply object-contain !important;
  }
}
